.product-card {
  padding: 20px;
  min-width: 220px;
  min-height: 240px;
  text-align: right;
  text-decoration: none;
  color: #000000;
  background: #FFFFFF;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  border-radius: 8px;

  &:hover {
    filter: drop-shadow(5px 5px 35px rgba(0, 0, 0, 0.25));
  }

  &__img {
    margin: auto auto 15px;
    max-width: 165px;
    height: 130px;
    object-fit: contain;
  }

  &__title, &__country, &__price {
    display: block;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__country {
    margin: 11px 0;
  }

  &__price {
    font-family: 'Merienda-Bold', cursive;
  }
}
