.main-page {
  &__info {
    .info-section__title {
      margin-top: 0;
    }

    .divider {
      margin-bottom: 40px;
    }
  }

  .best-goods-section {
    background-position: center;
    background-size: cover;

    &__title {
      margin-bottom: 10px;
    }
  }
}
