.search-wrapper {
  &__label {
    margin: 20px;
    cursor: pointer;
  }

  &__input {
    padding: 6px 14px;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    transition: .3s;

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }

    &:hover {
      box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.35);
    }

    &:focus {
      border-color: #000000;
    }

    &:focus-visible {
      outline: none;
    }
  }
}
