@import 'reset';

@font-face {
  font-family: 'Merienda';
  src: url('../fonts/Merienda-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Merienda';
  src: url('../fonts/Merienda-Bold.ttf') format('truetype');
}

body {
  font-family: 'Merienda', cursive;
  font-size: 14px;
  color: #000000;
  background: #FFFFFF;
}

.root {
  min-height: 100vh;
}
