.footer {
  margin-top: auto;
  padding: 30px 15px 25px;

  &__nav {
    position: relative;
    padding-left: 15px;
    margin: 0 auto 10px;
    max-width: 1140px;
    width: max-content;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 5px;
    width: 35px;
    height: 35px;
    object-fit: contain;
  }

  &__link {
    display: inline-flex;
    padding: 20px;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;

    &:hover {
      opacity: .7;
    }
  }
}
